* {
	margin: 0;
	padding: 0;
	
	font-family: "Open Sans", sans-serif;
	
	box-sizing: border-box;
}

nav {
	padding: 0.8rem;
	border-bottom: 2px solid gray;
	background-color:#1C78EB;
}
nav .nav {
	margin: 0.5rem; 
	display: inline;
}

nav .nav-img {
	margin: 0.5rem; 
	display: inline;
	width: 500px;
	height: 50px;
}

#introduction {

	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	background-color:#98D4EA;
	text-align: center;
}




#introduction button {
	color: black;
	border-radius: 25px;
	font-size: 1rem;
	padding: .8rem;
	font-weight: bold;
	background-color:#1C78EB;
	
}